<div>Hey!</div>

<div id="centerCircle"></div>
<div class="buttonContainer"><div class="ChapterButton" id="ch1Button"></div></div>
<div class="buttonContainer"><div class="ChapterButton" id="ch2Button"></div></div>
<div class="buttonContainer"><div class="ChapterButton" id="ch3Button"></div></div>
<div class="buttonContainer"><div class="ChapterButton" id="ch4Button"></div></div>
<div class="buttonContainer"><div class="ChapterButton" id="ch5Button"></div></div>
<div class="buttonContainer"><div class="ChapterButton" id="ch6Button"></div></div>

<style>
    #centerCircle{
        top: 50%;
        left: 50%;
        position: fixed;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 200px;
        background-color: blue;
    }
    .ChapterButton {
        border-bottom: 173px solid blue;
        border-left: 102px solid transparent;
        border-right: 102px solid transparent;
        height: 0px;
        width: 100px;
        cursor: pointer;
    }

    .ChapterButton:hover {
        border-bottom: 173px solid red;
    }
    .ChapterButton:active {
        border-bottom: 173px solid yellow;
    }

    #ch1Button{
        transform: rotate(180deg);
        margin-top: -245px;
        margin-left: -85px;
    }
    #ch2Button{
        transform: rotate(60deg);
        margin-top: 96px;
        margin-left: -290px;
    }
    #ch3Button{
        transform: rotate(120deg);
        margin-top: -123px;
        margin-left: -290px;
    }
    #ch4Button{
        transform: rotate(0deg);
        margin-top: 225px;
        margin-left: -80px;
    }
    #ch5Button{
        transform: rotate(240deg);
        margin-top: -121px;
        margin-left: 138px;
    }
    #ch6Button{
        transform: rotate(300deg);
        margin-top: 111px;
        margin-left: 136px;
    }
    .buttonContainer{
        top: 50%;
        left: 50%;
        position: fixed;
        transform: translate(-50%, -50%);
        width: 0px;
        height: 0px;
    }
</style>